@font-face {
  font-family: "gottam-bold";
  src: url("/assets/font/GothamRnd-Bold.otf") format("opentype");
}
.search-path {
  height: 95%;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 8px;
  gap: 15px;
}
.search-path .selection {
  cursor: default;
}
.search-path .position {
  cursor: crosshair;
}
.search-path .supprimer {
  cursor: pointer;
}
.search-path .liaison {
  cursor: pointer;
}
.search-path .edit-icon {
  background: #60a5fa55;
  backdrop-filter: blur(2px);
  padding: 5px;
  border-radius: 0.3rem;
  color: #0d6efd;
  transition: all 0.3s ease;
}
.search-path .edit-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.search-path .top-input {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 25px;
}
.search-path .container-search {
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.307);
  background-image: url("/assets/image/grid-dot.png");
  background-size: contain;
  border-radius: 0.75rem;
  overflow: auto;
  position: relative;
}

.search-path .outil {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background: #0d6efd;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.75rem;
}
.search-path .outil .title > h5 {
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(255, 255, 255);
}
.search-path .container-outil {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: fit-content;
}
.search-path .outil .details .title > h5 {
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(255, 255, 255);
}
.search-path .outil .search-path .outil .details .title > h5 {
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(255, 255, 255);
}
.search-path .outil .details {
  height: 100%;
  overflow: hidden;
}
.search-path .outil .details-container {
  background: white;
  height: 95%;
  overflow-y: auto;
}

.search-path .label input[type="number"]:disabled {
  font-family: gottam-bold;
  color: black;
  pointer-events: none;
  text-align: center;
  width: 50px;
  border: none;
  background: none;
  display: flex;
  flex-direction: column-reverse;
}
.search-path .label input[type="number"]::-webkit-inner-spin-button,
.search-path .label input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Pour Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.search-path .label input {
  font-family: gottam-bold;
  text-align: center;
  width: 70px;
  border: 1px solid #60a5fa;
  border-radius: 0.75rem;
  background: none;
}
.search-path div.label {
  font-family: gottam-bold;
  color: black;
  text-align: center;

  border: none;
  width: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-path .label p {
  line-height: 10px;
  cursor: pointer;
}
.search-path .footer {
  width: fit-content;

  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 20px;
}
.search-path .container-foot {
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
.details-container {
  padding: 12px;
}
.details {
  background-color: #0d6efd;
}

.chemin-val-libel {
  text-align: center;
}
.chemin-min-val {
  font-weight: bold;
  color: #0d6efd;
}
.chemin-min {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0%;
  gap: 3px;
  display: flex;
  flex-wrap: wrap;
}
.chemin-min-val-x {
  display: flex;
  flex-wrap: nowrap;
}
.val-X {
  color: white;
  background: #0d6efd;
  border-radius: 100%;
  padding: 5px;
  font-size: 10px;
  width: 28px;
  height: 28px;
  text-align: center;
  font-weight: bold;
}
.fleche {
  color: #0d6efd;
}
.libelle-x {
  font-size: 12px;
}
.valeur-x {
  color: #0d6efd;
  font-size: 12.5px;
  margin-left: 2px;
}
.chemin-min-noeud {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  line-height: 0px;
  flex-direction: row;
  margin-top: 35px;
}
